.about-content {
	font-size: 18px;
	line-height: 200%;
}

.about-content p {
	text-indent: 50px;
}
.contact-content {
	padding-top: 30px;
}

#email-submit-btn {
	width: 100%;
}

.home-content-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.home-showcase {
	background-color: #EBEBEB;
	color: #8A8A8A;
	padding-top: 15px;
	padding-bottom: 15px;
}

.home-showcase img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.home-footer {
	margin-top: 20px;
}
.product-image {
	width: 100%;
}

.solid-line-break {
  width:100%;
  border: 1px solid #909090;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-content {
	font-size: 18px;
	line-height: 160%;
}
	
.product-content p{
	text-indent: 50px;
}

.product-content h2 {
	font-weight: bold;
}

.content-side-menu {
	font-size: 18px;
	line-height: 125%;
	list-style-type: none;
	padding-left: 0px;
}

.content-side-menu ul {
	list-style-type: none;
	padding-left: 25px;
	font-size: 13px;

}

.content-side-menu .active {
	font-weight: bold;
}

.side-menu-container {
	position: fixed;
	top: 380px;
}

.video-container iframe{
	display: block;
	margin: 0 auto;
}


.navbar {
	margin-bottom: 0px;
}

.tri-heading-container {
  color: rgb(255, 77, 8);
}

.tri-image {
	width: 100%;
}

.home-content-container {
	margin-top: 50px;
	margin-bottom: 50px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.navbar {
	margin-bottom: 0px;
}

.tri-heading-container {
  color: rgb(255, 77, 8);
}

.tri-image {
	width: 100%;
}

.page-header-background {
	padding-top: 15px;
	padding-bottom: 15px;
	border-color: #8A8A8A !important;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.page-header-container {
	padding-top: 40px;
	padding-bottom: 55px;
	color: #FFFFFF;
}
.background-color-green {
  background-color: rgb(0, 138, 55);
}

.background-color-red {
  background-color: rgb(199, 0, 0);
}

.background-color-blue {
  background-color: rgb(0, 53, 146);
}

.navbar {
	font-size: 15px;
}

.navbar .active {
	font-weight: bold;
}
