
.home-content-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.home-showcase {
	background-color: #EBEBEB;
	color: #8A8A8A;
	padding-top: 15px;
	padding-bottom: 15px;
}

.home-showcase img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.home-footer {
	margin-top: 20px;
}