// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	margin-bottom: 0px;
}

.tri-heading-container {
  color: rgb(255, 77, 8);
}

.tri-image {
	width: 100%;
}

.home-content-container {
	margin-top: 50px;
	margin-bottom: 50px;
}
