<div class="page-header-background">
	<div class="page-header-container background-color-blue">
		<div class="container">
			<h1>About Us</h1>
			<div>
				<h3>The World's Best Visible Light Communication Solution</h3>
				<h4>Located at Gotham, California</h4>
			</div>
		</div>
	</div>
</div>
<div class="container about-content">
	<%= image_tag('Vlightcomm.png', :size => "324x100", :class => "about-content-img") %>
	<p class="about-paragraph">        <span class="logo-paragraph">VLightComm</span> is a Visible Light Communications (VLC) solution that provides near light-ubiquituous network connectivity through general LED lighting infrastructure. Unlike wirelss RF and free-space optics communications technology, VLightComm can operate at long distances or close proximity with pin-point accuracy.</p>
	<br>
	<p class="about-paragraph">        VLightComm provides network access through non-traditional environments including general LED lighting, electronic signage and computer/television displays. VLC wireless signals can’t penetrate walls or other structures, making access local and extremely secure. VLightComm technology can operate in environments where EMI prohibits the use of RF technology. VLightComm can also eliminate the need to install wired networks by using existing power lines for communications (PLC).</p>
	<br>
	<span class="about-paragraph">To learn more about VLC solution, click </span><%= link_to("HERE", {:action => "product"}, :class => "about-paragraph-link") %><span class="about-paragraph">.</span>

</div>