<div class="page-header-background">
	<div class="page-header-container background-color-green">
		<div class="container">
			<h1>About Us</h1>
			<div>
				<h3>The World's Best Visible Light Communication Solution</h3>
				<h4>Located at Gotham, California</h4>
			</div>
		</div>
	</div>
</div>
<div class="container contact-content">
	<div class="col-md-4">
		<br>
		<table class="table table-hover">
		<tr>
			<td class="table-title"><strong>Phone:</strong></td>
			<td><%= number_to_phone(0000000000, country_code: 1)%></td>
		</tr>
		<tr>
			<td class="table-title"><strong>Fax:</strong></td>
			<td><%= number_to_phone(0000000000, country_code: 1)%></td>
		</tr>
		<tr>
			<td class="table-title"><strong>Email:</strong></td>
			<td>info@vlightcomm.com</td>
		</tr>
		</table>
		<br>
		<table class="table table-hover" >
		<tr>
			<th class="table-title">
			Address
			</th>
		</tr>
			<td>
			<address class="font-ubuntu">
			<strong>VLightComm, Inc.</strong><br>
			1111 Sky Park Circle<br>
			Suite B<br>
			Gotham, CA  99999</td>
			</address>
		</table>
	</div>
	<div class="col-md-8">
		<!-- show 'well' div only if error message is present or inquiry submit was successful -->
		<% if @inquiry.errors.full_messages.present? %>
			<div class="well">
				<h4 >Oh no! Please fix <%= pluralize(@inquiry.errors.full_messages.size, 'error')%> in your message</h4>
				<ul>
				<% @inquiry.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% elsif flash.now[:alert].present? %>
			<div class="well">
				<h4>
					<%= flash.now[:alert] %>
				</h4>
			</div>
		<% end %>

		<%= form_for(:inquiry, :url => {:action => "sendMail"}) do |im|%>
		  <%= im.label(:email, "Your Email") %>
		  <%= im.text_field(:email, {class: "form-control"}) %>
		  <br>
		  <%= im.label(:subject, "Subject") %>
		  <%= im.text_field(:subject, {class: "form-control"}) %>
		  <br>
		  <%= im.label(:content, "Content") %>
		  <%= im.text_area(:content, {class: "form-control", rows: 7 }) %>
		  <br>
		  <div>
		  	<%= im.submit("S E N D", {class: "btn btn-lg btn-info", id: "email-submit-btn"}) %>
		  </div>
		<% end %>

		<br>
	</div>
</div>