<!-- carousel (slide)-->
<div id="carousel-homepage-main" class="carousel slide" data-ride="carousel">
	<!-- indicator (circles)-->
	<ol class="carousel-indicators">
		<li data-target="#carousel-homepage-main" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-homepage-main" data-slide-to="1" class=""></li>
		<li data-target="#carousel-homepage-main" data-slide-to="2" class=""></li>
	</ol>
	<!-- content -->
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag('home_main_slide_1_1920x630.jpg', :alt => 'home_main_slide_1') %>
			<div class="carousel-caption">
				<h3>VLC is the new generation of communication</h3>
				<p>Low maintenance cost, high reliablility</p>
				<%= button_to "More Info", { controller: "products", action: "index" }, class: "btn btn-success home-content-button" %>
			</div>
		</div>
		<div class="item">
			<%= image_tag('home_main_slide_2_1920_630.jpg', :alt => 'home_main_slide_2') %>
				<div class="carousel-caption">
				<h3>High quality products from trusted manufacturers</h3>
				<p>Good Products</p>
				<%= button_to "More Info", { controller: "products", action: "index" }, class: "btn btn-success home-content-button" %>
			</div>
		</div>
		<div class="item">
			<%= image_tag('home_main_slide_3_1920x630.jpg', :alt => 'home_main_slide_3') %>
			<div class="carousel-caption">
				<h3>LiFi is the best</h3>
				<p>New Technology</p>
				<%= button_to "More Info", { controller: "products", action: "index" }, class: "btn btn-success home-content-button" %>
			</div>
		</div>
	</div>
	<!-- left-right arrow -->
	<a class="left carousel-control" href="#carousel-homepage-main" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-homepage-main" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>


<div class="home-content-container">
	<!-- container for tri-image -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div>
					<div>
						<%= image_tag('tri_image_1_280x140.jpg', :alt => 'tri_image_1_280x140.jpg', :class => "img-rounded tri-image") %>
					</div>
					<div class="tri-heading-container">
						<h3>Quality Product</h3>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus lacinia aliquet. Praesent elementum magna ligula, vitae bibendum urna porta vel. Curabitur sit amet libero in purus laoreet molestie. Donec at nunc aliquam, viverra massa nec, lobortis ligula.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<div>
						<%= image_tag('tri_image_2_280x140.jpg', :alt => 'tri_image_2_280x140.jpg', :class => "img-rounded tri-image") %>
					</div>
					<div class="tri-heading-container">
						<h3>New Technology</h3>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus lacinia aliquet. Praesent elementum magna ligula, vitae bibendum urna porta vel. Curabitur sit amet libero in purus laoreet molestie. Donec at nunc aliquam, viverra massa nec, lobortis ligula.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<div>
						<%= image_tag('tri_image_3_280x140.jpg', :alt => 'tri_image_3_280x140.jpg', :class => "img-rounded tri-image") %>
					</div>
					<div class="tri-heading-container">
						<h3>Quality Product</h3>
					</div>
					<p>
	         		   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus lacinia aliquet. Praesent elementum magna ligula, vitae bibendum urna porta vel. Curabitur sit amet libero in purus laoreet molestie. Donec at nunc aliquam, viverra massa nec, lobortis ligula. Phasellus laoreet, sapien eu malesuada suscipit, nisi ipsum elementum justo, nec lacinia ante felis id tellus. Sed eu imperdiet neque. Nulla tortor nisl, scelerisque sit amet sodales ac, mattis eget ipsum.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- SHOWCASE -->
<div class="home-showcase">
	<div class="container home-showcase">
		<div class="row">
			<div class="col-md-2">
				<!-- SHOWCASE -->
			</div>
			<div class="col-md-2">
				<!-- SHOWCASE -->
			</div>
			<div class="col-md-2">
				<%= image_tag("ces_2014.png", :size => "100x50") %>
			</div>
			<div class="col-md-2">
				<%= image_tag("tiecon_2014.png",  :size => "100x50") %>
			</div>
			<div class="col-md-2">
				<!-- SHOWCASE -->
			</div>
			<div class="col-md-2">
				<!-- SHOWCASE -->
			</div>
		</div>
	</div>
</div>	