<div class="page-header-background">
	<div class="page-header-container background-color-red">
		<div class="container">
			<h1>What's VLC?</h1>
			<div>
				<h3>Visible Light Communication sends messages from simple LED light bulb</h3>
				<h4>Saves electricity, No EMI interference, Wireless Security</h4>
			</div>
		</div>
	</div>
</div>

<!-- Outermost container wich contains product explanation and menu-->
<div class="container product-content">
	<div class="row">
		<!-- product explanation goes here -->
		<div class="col-md-9">
			<!-- product explanation #1 -->
			<div class="container">
				<div class="row">
					<h2 class="jump-target" id="header-whats-vlc">What's VLC?</h2>
				</div>
				<div class="row">
					<div class="col-md-5">
						<%= image_tag("product_1_640x420.jpg", :class => "product-image img-rounded")%>
					</div>
					<div class="col-md-4">
						<p>    VLC stands for Visible Light Communication. It allows LED lamps to send information using human visible light spectrums.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="solid-line-break"></div>
			</div>
			
			<!-- product explanation #2 -->
			<div class="container">
				<div class="row">
					<h2 class="jump-target" id="header-whats-good-about-it">What's good about it?</h2>
				</div>
				<div class="row">
					<div class="col-md-9">
						<%= image_tag("product_2_875x240.jpg", :class => "product-image img-rounded")%>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-9">
						<p>    Data transfer using visible light spectrum has numerous benefits compared to using traditional radio waves.</p>	
						<ol>
							<li>No EMI. Data is sent through visible lights, not radio frequency.</li>
							<li>Security. If you are out of LED light, you do not receive data from it</li>
							<li>VLC gets all the benefits of using LED light over traditional light bulbs (fluorescent and incandescent):<ul>
								<li>Low Power Consumption</li>
								<li>Lasts Longer</li>
								<li>EcoFriendly</li>
								<li>Durability</li>
								<li>Stability</li>
							</ul></li>
						</ol>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="solid-line-break"></div>
			</div>
			
			<!-- product explanation #3 -->
			<div class="container">
				<div class="row">
					<h2 class="jump-target" id="header-how-does-it-work">How does it work?</h2>
				</div>
				<div class="row">
					<div class="col-md-9">
						<p>    As you probably know, all computer information are in stream of zeroes and ones, and the minimum unit of information is called a bit. Your computer is constantly reading large amounts of bits and translating into human recognizable format such as the music you are listing to or the movive you are watching.</p>
						<p>    Using VLC, we can make electronic device to receive light coming out from the LED lamp and tell device to treat it as reading zeroes if the light is off and ones if it is on. This way we can create any streams of bits using LED light.</p>
						<p>    You might now wonder that since the LED has to turn on and off to denote zeroes and ones, the light would be flickering. No, human eyes cannot perceive extremely fast changes in LED.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3 class="jump-target" id="header-demonstration-video">- Demonstration Video</h3>
						<ol>
							<li>Wireless internet using VLC.</li>
							<li>LED lamp sending data to a phone and mobile app responding to different lamps</li>
						</ol>
					</div>
					<div class="col-md-5 video-container">
						<iframe style="width: 370px; height:300px" src="" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="solid-line-break"></div>
			</div>

			<!-- product explanation #4 -->
			<div class="container">
				<div class="row">
					<h2 class="jump-target" id="header-what-are-possible-uses">What are possible uses?</h2>
					<p>    VLC has numerous applications. We listed some them.</p>
				</div>
				<!-- nested product explanation #4.1 -->
				<div class="row">
					<h3 class="jump-target" id="header-in-door-gps">In-Door GPS</h3>
					<div class="col-md-3">
						<p>    Satellite GPS aren't good when distinguishing two nearby locations that are few meters away and does not recognize what floor level you are at. VLC is fit to in-door GPS because the LED light on the ceiling can pinpoint where you are and mobile phone can pickup your location.</p>
					</div>
					<div class="col-md-6 video-container">
						
						<div id="wideo-embed-block" 
							wideo-width="466" 
							wideo-height="269"
							wideo-id=""
							autoplay="false">
						</div>
						<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
						
					</div>
				</div>

				<!-- nested product explanation #4.2 -->
				<div class="row">
					<h3 class="jump-target" id="header-underwater-communication">Underwater Communication</h3>
					<div class="col-md-3">
						<p>    Wireless internet signals (radio waves) are electromagnetic waves and unfortunately it does not travel well in water due to radio wave's physical property. This limits underwater communication significatly. We tested VLC underwater and was able to send large amounts of data sucessfully.</p>
					</div>
					<div class="col-md-6 video-container">
						
						<div id="wideo-embed-block" 
								wideo-width="466" 
								wideo-height="269"
								wideo-id=""
								autoplay="false">
						</div>
						<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
						
					</div>
				</div>

				<!-- nested product explanation $4.3 -->
				<div class="row">
					<h3 class="jump-target" id="header-information-booth">Information Booth</h3>
					<div class="col-md-3">
						<p>   Pamphlets are costly. Wireless internet is a hassel to connect and public network is insecure. VLC solves all of these problems because LED lights are cheap to maintain data transfer can be one-directional. User simply needs to download an app and hold the phone under the light.</p>
					</div>
					<div class="col-md-6 video-container">
						
						<div id="wideo-embed-block" 
								wideo-width="466" 
								wideo-height="269"
								wideo-id=""
								autoplay="false">
						</div>
						<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
						
					</div>
				</div>
			</div>

			<!-- product explanation #4 -->
			<div class="container">	
				<div class="row">
					<h3 class="jump-target" id="header-sensitive-areas">Sensitive Areas. (Surgery Room, Airplanes, Labs)</h3>
				</div>
				<div class="col-md-5">
					<p>   Pamphlets are costly. Wireless internet is a hassel to connect and public network is insecure. VLC solves all of these problems because LED lights are cheap to maintain data transfer can be one-directional. User simply needs to download an app and hold the phone under the light.</p>
				</div>
				<div class="col-md-4">
				</div>
			</div>

			<!-- JS uses this to pad bottom so that very bottom href link is shown on top -->
			<div class="bottom-filler"></div>

		</div>


		<!-- product menu goes here -->
		<div class="col-md-3">
			<div id="side-menu" class="side-menu-container">
				<ul class="content-side-menu">
					<li><a href="#header-whats-vlc" id="header-whats-vlc">What's VLC</a></li>
					<li><a href="#header-whats-good-about-it" id="header-whats-good-about-it">What's good about it?</a></li>
					<li><a href="#header-how-does-it-work" id="header-how-does-it-work">How does it work?</a></li>
						<li><ul>
						<li><a href="#header-demonstration-video" id="header-demonstration-video">Demonstration Video</a></li>
						</ul></li>
					<li><a href="#header-what-are-possible-uses" id="header-what-are-possible-uses">What are possible uses?</a><ul>
						<li><a href="#header-in-door-gps" id="header-in-door-gps">In-Door GPS</a></li>
						<li><a href="#header-underwater-communication" id="header-underwater-communication">Underwater Communication</a></li>
						<li><a href="#header-information-booth" id="header-information-booth">Information Booth</a></li>
						<li><a href="#header-sensitive-areas" id="header-sensitive-areas">Sensitive Areas</a></li>
					</ul></li>
					<li id="back-to-top"><a href="">Back To Top</a>
				</ul>
			</div>
		</div>
	</div>
</div>