<!-- use nav-bar-fixed if current page is homepage -->
<nav class="navbar navbar-default <%= is_homepage(params[:controller], params[:action]) ?  "navbar-fixed-top" : "navbar-static-top" %>" role="navigation">
	<div class="container">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Navtion bar background color is set by .navbar-inverse-->
	      <%= link_to(image_tag('Vlightcomm.png', :size => '162x50', :alt => 'VLightComm'), {:controller => "sites", :action => "home"}) %>
	    </div>
	    <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li <%= params[:page]=="home" ? "class=active" : "" %>><%= link_to("Home", {:controller => "sites", :action => "home"}) %></li>
			<li <%= params[:page]=="about" ? "class=active" : "" %>><%= link_to("About", {:controller => "sites", :action => "about"}) %><li>
			<li <%= params[:page]=="product" ? "class=active" : "" %>><%= link_to("What's VLC?", {:controller => "sites", :action => "product"}) %></li>
			<li <%= params[:page]=="contact" ? "class=active" : "" %>><%= link_to("Contact", {:controller => "sites", :action => "contact"}) %></li>
		</ul>
    </div><!--/.nav-collapse -->
	</div>
</nav>