<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VLightComm</title>
		<!-- ====================== css/js import statements ====================== -->
		<!-- application manifest is modified so only jquery is loaded. Others are loaded at the bottom -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= render(partial: 'layouts/cdn_links') %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!-- ^^^^^^^^^^^^^^^^^^^^^^ css/js import statements ^^^^^^^^^^^^^^^^^^^^^^ -->

</head>
<!-- padding is required if navbar is navbar-fixed-top. Only home page uses navbar-fixed-top. Remove padding if navbar is not fixed top -->
<body style="<%= is_homepage(params[:controller], params[:action]) ?  "padding-top:50px;" : "" %>">
	<%= render(partial: 'layouts/nav_bar') %>

	<%= yield %>

	<%= render(partial: 'layouts/footer') %>


	<!-- ====================== intended for debugging ====================== -->
	<div>
	    <%# <%= params.inspect %>
	</div>
	<!-- ^^^^^^^^^^^^^^^^^^^^^^ intended for debugging ^^^^^^^^^^^^^^^^^^^^^^ -->

	<!-- Javascript files other than jquery are loaded here -->
	<!-- This is because html page is not rederend at top so js cannot find elements -->
	<%= javascript_include_tag 'product', 'data-turbolinks-track' => true %>

</body>
</html>
